@mixin  btn {
    background-color: $primary-color;
    color: $white;
    font-size: 20px;
    font-weight: 600;
}
@mixin p-tag {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $text-color;   
}
@mixin  h2-tag {
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    @include for-phone-only {
        font-size: 30px;
    }
}
@mixin  h3-tag {
    font-size: 25px;
    font-weight: 600;
    color: $dark-color; 
}
@mixin transition {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
@mixin translateY-50 {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@mixin translateX-50 {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}