#banner {
    .container {
        .banner-content {
            @include for-phone-only {
                text-align: center;
                margin: 50px 0;
            }

            h1 {
                font-size: 65px;
                font-weight: 600;
                line-height: 85px;
                color: $dark-color;
                @include for-tablet-landscape-up {
                    font-size: 35px;
                    line-height: 45px;
                }
                @include for-phone-only {
                    font-size: 25px;
                    line-height: 30px;
                }

                span {
                    font-size: 65px;
                    font-weight: 800;
                    line-height: 85px;
                    color: $primary-color;
                    @include for-tablet-landscape-up {
                        font-size: 40px;
                        line-height: 50px;
                    }
                    @include for-phone-only {
                        font-size: 30px;
                        line-height: 45px;
                        margin-right: 7px;
                    }
                }
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: $text-color;
                padding-right: 16vw;
                margin: 15px 0 25px 0;

                @include for-phone-only {
                    padding-right: 0;
                }
                @include for-tablet-landscape-up {
                    padding-right: 10vw;
                }
            }

            a {
                background-color: $primary-color;
                color: $white;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .banner-image {
            position: relative;
            text-align: right;

            @include for-phone-only {
                text-align: center;
            }

            .love {
                position: absolute;
                left: 40%;
                top: -5%;
                width: 70px;
                height: 70px;
                background-color: $white;
                text-align: center;
                line-height: 80px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

              
               
                @include for-tablet-landscape-up {
                    left: 15%;
                }
                @include for-tablet-portrait-up {
                    left: 5%;
                }
                @include for-phone-only {
                    left: 15%;
                }

                i {
                    color: $primary-color;
                    font-size: 35px;
                }
            }

            img {}

            .banner-love {
                position: absolute;
                top: 50%;
                right: -17%;
                @include translateY-50;
                z-index: 9;

              
                img {
                    @include for-tablet-landscape-up {
                        max-width: 60%;
                    }
                    @include for-phone-only {
                        max-width: 60%;
                    }
                }
            }

            .banner-follower {
                position: absolute;
                padding: 20px;
                height: 242px;
                width: 450px;
                bottom: 10%;
                background-color: $white;
                max-width: 100%;

                @include for-phone-only {
                    left: 50%;
                    @include translateX-50;
                    bottom: -35%;
                }
                @include for-tablet-landscape-up {
                    height: 260px;
                    left: -25%;
                }

                .follower-text {
                    @include p-tag;
                    text-align: left;
                    position: relative;
                    padding-bottom: 20px;
                    padding-right: 94px;
                    @include for-phone-only {
                        padding-right: 0;
                        text-align: center;
                    }
                    @include for-tablet-landscape-up {
                        padding-right: 8vw;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        width: 103px;
                        height: 7px;
                        background-color: #E8002433;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        left: 0;
                        bottom: 0;
                        @include for-phone-only {
                            left: 50%;
                            @include translateX-50;
                        }
                    }
                }

                .banner-follower-info {
                    .ban-men {
                        margin-right: 15px;

                        img {}
                    }

                    .banner-men-title {
                        text-align: left;
                        min-width: 150px;

                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                            color: $dark-color;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: $text-color;
                        }
                    }

                    .ban-insta {

                        img {
                            
                        }
                    }
                }
            }
        }
    }
}