nav.navbar {
    @include transition;
    .container {
        .navbar-brand {
            img {

            }
        }
    
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    color: $dark-color;
                    margin: 0 22px;
                    @include transition;
                    &:hover {
                        color: $primary-color;
                    }
                }

            }

        }
        .nav-right-part {
            .search-icon {
                font-size: 16px;
                color: $dark-second;
                margin: 0 10px;
            }
            .nav-cart {
                font-size: 16px;
                color: $dark-second;
                margin: 0 10px;

            }
            .nav-btn {
                font-size: 20px;
                font-weight: 600;
                padding: 8px 30px;
                background-color: $primary-color;
                margin-left: 20px;
                color:  $white;
                
            }
        }

    }
    }
}
.position-fixed {
    width: 100%;
    background-color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    z-index: 9999;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}